
body{
    margin:     0px;
}

#topfield{
    background-color: #494D53;
    /*background-color: #2B353E;*/
    height:     150px;
    width:      auto;
    text-align: center;
    font-family:'Arial',sans-serif;
    padding-top:5px;
    color:      aliceblue;
    font-size:  80px;
}

#backBox{
               
    background-color:#494D53;
    position:   relative;
    width:      auto;
    height:     480px;
    border-color:black;
}

#point{   
    position:   absolute;
    background-color: blue;                
    width:      17px;
    height:     17px;
    border-radius:50%;
    z-index:    5;
    
}

