#inputbox{
    position: absolute;
    background-color: grey;
    z-index: 2;
    top: 290px;
    height: 150px;
    width: 100%;
}

#bpmBox{
    position: absolute;
    top:50px;
}

#bpmSpeed{
    position:absolute;
    width: 210px;
    top:5px;
    left: 90px;
}

#showBpm{
    position:absolute;
    background-color: white;
    top: 60px;
    left: 300px;
   
    padding: 5px;
    border-color: black;
}

#transportFader{
    position:absolute;
    height:     50px;
    width:      800px;
    left:  90px;
}

seqButton.button{
    position:absolute;
    /*top:290px;*/
    z-index: 3;
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:0.2em;
    box-sizing: border-box;
    
    text-decoration:none;
    font-family:'Arial',sans-serif;
    font-weight:600;
    color:#2B353E;
    background-color:darkgoldenrod;
    text-align:center;
    transition: all 0.2s;
}
seqButton.button:hover{
     background-color:goldenrod;
    cursor: pointer;

}
seqButton.button:active{
    background-color: gold;
}

#startbutton{
    top: 110px;
    left:90px;
}

#endbutton{
    top: 110px;
    left:200px;
}
